# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & package managers
node_modules/
services/auth/node_modules/

# Build outputs
dist/
dist-ssr/
.vite/

# Env files (ne pas versionner de secrets)
.env
.env.*
!/.env.example     # si vous fournissez un modèle

# IDE / éditeur
.vscode/*
!.vscode/extensions.json
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln

# Tests / coverage
coverage/
*.lcov

# Misc caches
.cache/
.tmp/

# Logs générés par npm/yarn dans certains cas
**/npm-debug.log*
**/yarn-debug.log*

# Fichiers temporaires ou spécifiques
.env.local
.env.development
.env.production

.eslintcache

# Fichiers spécifiques à ton projet
manifest.json

# Webpack/Babel
.webpack/
.babelrc

# Jest
jest/
jest-cache/
jest-output/

# Package lock
services/auth/package-lock.json
