@use '../styles/_variables' as vars;

.card-container {
  position: relative;
  margin-bottom: 2rem;
  border-radius: vars.$border-radius;
  overflow: hidden;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  box-shadow: 0 2px 6px var(--shadow-color);
  border-radius: vars.$border-radius;
  padding: 1rem;
  margin: 1rem 0;
}

.page--about {
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  padding: 2rem;

  .page__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  .page__text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    line-height: 1.4;
  }

  .page--about__social {
    @extend .card-container;
    @extend .glass-effect;
    @extend .card;
    position: relative;
    overflow: hidden;

    &::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: vars.$border-radius;
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.7), rgba(255, 165, 0, 0.7), rgba(255, 255, 0, 0.7));
  z-index: -1;
  animation: twilight 8s ease infinite;
}


    h2 {
      margin-top: 0;
      font-size: 1.2rem;
      color: var(--text-color);
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
        color: var(--text-color);

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--link-color);
          font-weight: 500;
          transition: color 0.2s ease;

          &:hover {
            color: var(--link-hover-color);
          }
        }

        .icon {
          width: 24px;
          height: 24px;
          object-fit: contain;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@keyframes twilight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
